.carrosel-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.carrosel {
  height: 520px;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -33.3%;
}

#slide3:checked ~ .s1 {
  margin-left: -66.6%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide {
  width: 33.32%;
  transition: 0.6s;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background-color: #fff;
}

input[type="radio"] {
  display: none;
}
